<div class="control-group">
   <%- form.label("message", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("message") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("author", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("author") %>
   </div>
</div>
